.card {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto 20px auto;
  padding: 20px;
  background-color: #fff;
  color: #53586b;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(14, 30, 37, 0.12);
}
