.sidenav {
  display: flex; /* Will be hidden on mobile */
  flex-direction: column;
  grid-area: sidenav;
  background-color: #0e1e24;
}

.sidenav__list {
  padding: 0;
  margin-top: 85px;
  list-style-type: none;
}

.sidenav__list-item {
  padding: 20px 20px 20px 40px;
}

.link {
  color: #7b8488;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  padding: 20px 30px 20px 0px;
}

.sidenav__list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  cursor: pointer;
}
