.tip {
  display: flex;
}

.tip-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #323638;
}

.tip-description {
  margin-left: 20px;
  padding-left: 20px;
  border-left: 2px solid #9ba5aa;
  color: #9ba5aa;
}
